/* X-Large Area Start */
@media (min-width: 1200px) and (max-width: 1398.98px) {
  /* Home Area Start */
  .home-description {
    margin: 140px 0 120px 0;
    padding: 60px 90px;
  }

  .home-description h4 {
    font-size: 25px;
  }

  .home-description h3 {
    font-size: 34px;
    margin-left: 5.7px;
  }

  .home-description p {
    font-size: 15px;
    margin-left: 17px;
  }

  .home-description a {
    padding: 16px 36px;
    font-size: 17px;
    margin-left: 32px;
  }

  .home-navNprofile img {
    height: 225px;
    width: 225px;
    margin: 50px 0 0 64px;
    clip-path: circle(50% at 50% 50%);
    margin-bottom: 60px;
  }

  .home-navNprofile::after {
    height: 265px;
    width: 265px;
    top: 29px;
    left: 76px;
  }

  .home-navNprofile ul li a {
    font-size: 16px;
    height: 60px;
    width: 160px;
  }
}
/* X-Large Area End */

/* Large Area Start */
@media (min-width: 992px) and (max-width: 1199.98px) {

  /* Home Area Start */
  .home-description {
    margin: 140px 0 120px 0;
    padding: 60px 90px;
  }

  .home-description h4 {
    font-size: 22px;
  }

  .home-description h3 {
    font-size: 34px;
    margin-left: 3.9px;
    line-height: 38px;
  }

  .home-description p {
    font-size: 14px;
    margin-left: 12.8px;
    line-height: 22px;
  }

  .home-description a {
    padding: 16px 36px;
    font-size: 17px;
    margin-left: 27px;
  }

  .home-navNprofile {
    clip-path: polygon(24% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  .home-navNprofile img {
    height: 185px;
    width: 185px;
    margin: 50px 0 0 64px;
    clip-path: circle(50% at 50% 50%);
    margin-bottom: 60px;
  }

  .home-navNprofile::after {
    height: 210px;
    width: 210px;
    top: 36px;
    left: 74px;
  }

  .home-navNprofile ul li a {
    font-size: 15px;
    height: 55px;
    width: 160px;
  }

  .home-navNprofile ul li {
    margin-left: 40px;
  }
}
/* Large Area End */

/* Medium Area Start */
@media (min-width: 768px) and (max-width: 991.98px) {

  /* Home Area Start */
  .home-description {
    margin: 100px 0 80px 0;
    padding: 20px 20px;
    transform: rotate(9deg);
    -webkit-transform: rotate(9deg);
    -moz-transform: rotate(9deg);
    -ms-transform: rotate(9deg);
    -o-transform: rotate(9deg);
  }

  .home-description h4 {
    font-size: 18px;
    transform: rotate(-9deg);
    -webkit-transform: rotate(-9deg);
    -moz-transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);
    -o-transform: rotate(-9deg);
  }

  .home-description h3 {
    font-size: 25px;
    margin-left: 7.4px;
    line-height: 38px;
    transform: rotate(-9deg);
    -webkit-transform: rotate(-9deg);
    -moz-transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);
    -o-transform: rotate(-9deg);
  }

  .home-description p {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 15px;
    margin-left: 22px;
    transform: rotate(-9deg);
    -webkit-transform: rotate(-9deg);
    -moz-transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);
    -o-transform: rotate(-9deg);
  }

  .home-description a {
    padding: 16px 36px;
    font-size: 17px;
    transform: rotate(-9deg);
    -webkit-transform: rotate(-9deg);
    -moz-transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);
    -o-transform: rotate(-9deg);
    margin-left: 43px;
  }

  .home-navNprofile {
    clip-path: polygon(34% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  .home-navNprofile img {
    height: 125px;
    width: 125px;
    margin: 50px 0 0 58px;
    clip-path: circle(50% at 50% 50%);
    margin-bottom: 60px;
  }

  .home-navNprofile::after {
    height: 145px;
    width: 145px;
    top: 39px;
    left: 64px;
  }

  .home-navNprofile ul li a {
    font-size: 13px;
    height: 45px;
    width: 120px;
    padding-top: 12px;
  }

  .home-navNprofile ul li {
    margin-left: 30px !important;
  }
}
/* Medium Area End */

/* Small Area Start */
@media (min-width: 575px) and (max-width: 767.98px) {

  /* Home Area Start */

  /* toggle start */
  .home-navNprofile {
    height: 100%;
  }

  .home-navNprofile {
    position: absolute;
    top: 0;
    left: -25rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    padding: 0 50px;
  }

  .toggle-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 47px;
    background-color: #d7d7d7;
    height: 40px;
    width: 40px;
    text-align: center;
}

  .toggle-menu i {
    color: #919191b6;
    font-size: 26px;
    cursor: pointer;
  }

  .toggle {
    left: 0;
  }
  /* toggle end*/


  .home-description {
    margin: 100px 0 80px 0;
    padding: 20px 20px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

  .home-description h4 {
    font-size: 18px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

  .home-description h3 {
    font-size: 25px;
    /* margin-left: 7.4px; */
    margin-left: 0;
    line-height: 38px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

  .home-description p {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 15px;
    /* margin-left: 22px; */
    margin-left: 0px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

  .home-description a {
    padding: 16px 36px;
    font-size: 17px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    /* margin-left: 43px; */
    margin-left: 0;
}

  .home-navNprofile img {
    height: 135px;
    width: 135px;
    margin: 50px 0 0 0px;
    clip-path: circle(50% at 50% 50%);
    margin-bottom: 60px;
    position: relative;
  }

  .home-navNprofile::after {
    height: 153px;
    width: 153px;
    top: 41px;
    left: 69px;
  }

  .home-navNprofile ul li a {
    font-size: 13px;
    height: 45px;
    width: 120px;
    padding-top: 12px;
    margin-left: -20px !important;
  }

  .home-navNprofile ul li {
    margin-left: 0px !important;
    margin: 0 20px !important;
    padding: 0 10px;
  }
}
/* Small Area End */

/* Extra Small Area Start */
@media (max-width: 575px) { 
  
  /* Home Area Start */
  
  /* toggle start */
    .home-navNprofile {
      height: 100%;
    }
  
    .home-navNprofile {
      position: absolute;
      top: 0;
      left: -40rem;
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      transition: .6s;
      -webkit-transition: .6s;
      -moz-transition: .6s;
      -ms-transition: .6s;
      -o-transition: .6s;
      /* ---- width ---- */
      width: 100%;
    }
  
    .toggle-menu {
      position: absolute;
      top: 20px;
      right: 20px;
      line-height: 47px;
      background-color: #d7d7d7;
      height: 40px;
      width: 40px;
      text-align: center;
  }
  
    .toggle-menu i {
      color: #919191b6;
      font-size: 26px;
      cursor: pointer;
    }
  
    .toggle {
      left: 0;
    }
    /* toggle end*/

    
  .home-description {
    margin: 100px 0 80px 0;
    padding: 20px 20px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

  .home-description h4 {
    font-size: 18px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

  .home-description h3 {
    font-size: 24px;
    /* margin-left: 7.4px; */
    margin-left: 0;
    line-height: 38px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

  .home-description p {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 15px;
    /* margin-left: 22px; */
    margin-left: 0px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

  .home-description a {
    padding: 16px 36px;
    font-size: 14px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    /* margin-left: 43px; */
    margin-left: 0;
}

  .home-navNprofile img {
    height: 135px;
    width: 135px;
    margin: 50px 0 0 8px;
    clip-path: circle(50% at 50% 50%);
    margin-bottom: 60px;
    position: relative;
  }

  .home-navNprofile img::after {
    height: 150px;
    width: 150px;
    background: #000;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .home-navNprofile::after {
    height: 150px;
    width: 150px;
    top: 42px;
    left: 25px;
    display: none;
  }

  .home-navNprofile ul li a {
    font-size: 13px;
    height: 45px;
    width: 120px;
    padding-top: 12px;
    margin-left: -20px !important;
  }

  .home-navNprofile ul li {
    margin-left: 0px !important;
    margin: 0 20px !important;
    padding: 0 10px;
  }
  /* Home Area End */

  
}
/* Extra Small Area End */