/* Common CSS Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
  margin: 0;
}

:root {
  --primary-color: #000000;
  --secondary-color: #353535;
  --tertiary-color: #f9f9f9;
  --primary-font: "Jura", sans-serif;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --semibold-font-weight: 600;
  --bold-font-weight: 700;
}

/* Common CSS End */

/* Home Area Start */
#home {
  /* background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(../images/pexels-dominika-roseclay-1036808.jpg) no-repeat center/cover; */
  background: linear-gradient(
    rgba(190, 206, 218, 0.4),
    rgba(136, 137, 141, 0.507)
  );
}

.home-description {
  margin: 140px 0 120px 0;
  padding: 70px 90px;
  background: #f9f9f9;
  transform: rotate(6deg);
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  -o-transform: rotate(6deg);
}

.home-description h4 {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  align-items: center;
  color: var(--primary-color);
  transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
}

.home-description h3 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 65px;
  color: var(--primary-color);
  transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  margin-left: 6px;
}

.home-description p {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 10px 0 30px 0;
  color: var(--secondary-color);
  transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  margin-left: 17px;
}

.home-description a {
  padding: 20px 40px;
  background-color: #d7d7d7;
  font-size: 21px;
  color: var(--primary-color);
  margin: 20px 0;
  transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  font-family: var(--primary-font);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  border: thin solid #d7d7d7;
  margin-left: 32px;
}

.home-description a:hover {
  background: transparent;
  border: thin solid #d7d7d7;
  border-radius: 20px 0;
}

.home-navNprofile {
  background: #ffffff;
  height: 100.2%;
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
  text-align: center;
  position: relative;
}

.home-navNprofile img {
  height: 300px;
  width: 300px;
  margin: 50px 0 0 64px;
  clip-path: circle(50% at 50% 50%);
  z-index: 99;
  margin-bottom: 80px;
}

.home-navNprofile::after {
  position: absolute;
  content: "";
  height: 340px;
  width: 340px;
  background-color: #d7d7d7;
  top: 29px;
  left: 70px;
  z-index: -1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.home-navNprofile ul li {
  margin-left: 90px;
}

.home-navNprofile ul li a {
  height: 70px;
  width: 200px;
  color: var(--secondary-color);
  font-size: 22px;
  font-family: var(--primary-font);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border: thin solid #d7d7d7;
  padding-top: 17px;
  text-transform: uppercase;
}

.home-navNprofile ul li a:hover {
  border-radius: 20px 0;
  transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -o-transform: rotate(4deg);
}

#bar-icon {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: #333;
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  display: none;
  z-index: 1000;
  display: none;
}
/* Home Area End */

/* About Area Start */
#about {
  margin: 80px 0;
}

.about-title h3 {
  font-family: "Jura";
  font-size: 35px;
  line-height: 53px;
  text-transform: uppercase;
  color: #000000;
}

.about-title h3 span {
  font-weight: 700;
}

.about-inner-left {
  margin: 60px 0;
}

.about-inner-left p {
  font-size: 22px;
  color: var(--primary-color);
  line-height: 36px;
  font-family: var(--primary-font);
  margin: 10px 0;
}

.about-inner-right {
  margin: 40px 0;
}

#about .box {
  background: #d9d9d9;
  margin-left: 30px;
  padding: 50px 20px;
  line-height: 20px;
  color: var(--primary-color);
  font-family: var(--primary-font);
  text-transform: uppercase;
  margin-bottom: 50px;
}

#about .box h4 {
  font-size: 32px;
}

#about .box h3 {
  font-size: 26px;
}


/* About Area End */

/* Project Area Start */
/* Project Area End */

/* Contact Area Start */
/* Contact Area End */
